/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

html {
  height: 500px; }

body {
  background: #eeecec;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

#main {
  overflow: hidden;
  width: 100%; }

.header-menu {
  background-color: white;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 3px #d4d4d4;
  overflow: hidden; }

.header-menu > .left {
  flex: 1;
  display: flex; }

.header-menu > .left .menuhamburguer {
  padding: 10px 15px;
  margin-right: 30px; }

.header-menu > .left .close {
  padding: 10px 15px; }

.header-menu > .left .icon {
  display: none; }

.header-menu > .left .icon.-active {
  display: block;
  cursor: pointer; }

.header-menu > .center {
  display: flex;
  flex: 10;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  color: #0084cf;
  align-self: center; }

.header-menu > .right {
  display: flex;
  flex: 1; }

.header-menu > .right .search {
  padding: 10px;
  margin: 0 20px 0 30px; }

.header-menu > .right .signin {
  padding: 10px 15px 10px 10px; }

.side-menu {
  display: none;
  height: 100vh;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s; }

.side-menu.-active {
  display: block; }

.side-menu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s; }

.container {
  margin: 15px 15px; }

.container > .container-header {
  background: #f1f0f0;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  height: 38px;
  padding: 5px 10px 0; }

.container > .container-header .title h2 {
  display: inline-block;
  line-height: 1.5;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-bottom: 3px solid #D7057E;
  color: #0084cf;
  text-transform: uppercase; }

.container > .body {
  background-color: white;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-wrap: wrap; }

.pet-box {
  margin-bottom: 10px;
  display: flex; }

.pet-box img {
  width: 658px;
  display: block; }

@media (min-width: 700px) {
  .container > .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .pet-box {
    margin-bottom: 10px;
    flex-basis: 49.6%;
    display: flex; }
  .pet-box img {
    display: block; } }

.pet-box:last-child {
  margin-bottom: 0; }

.pet-box .modelo {
  max-width: 100%; }

.pet-box .pet-name {
  width: auto;
  height: 30px;
  background-color: #0084cf; }

.pet-box .pet-name h3 {
  color: #ffffff;
  font-size: 0.8125em;
  display: block;
  line-height: 30px;
  letter-spacing: .05em;
  text-align: center; }
