$color-background-main: #040268;

//Header
$color-background-header: #17158D;
$color-brand-header: #D6DA00;

//Container
$color-background-container-body: #000350;
$color-background-container-header: #3D2B88;
$color-border-container:#D6C4A4;
$color-title-container-header: #F6D5B3;
$color-title-border-container-header: #fa8424;
$color-background-petbox: #554479;
$color-title-petbox: #ff9a89
