$color-background-main: #eeecec;

//Header
$color-background-header: rgb(255, 255, 255);
$color-brand-header: #0084cf;
$box-shadow: 1px 1px 3px rgb(212, 212, 212);


//Container
$color-background-container-header: rgb(241, 240, 240);
$color-background-container-body: rgb(255, 255, 255);
$color-border-container: #d4d4d4;
$color-title-container-header: #0084cf;
$color-title-border-container-header: #D7057E;
$color-background-petbox: #0084cf;
$color-title-petbox: #ffffff;
